{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">

        <header>

            {% include 'components/registering_process_navbar.html' %}

            <div class="welcome txt-center">
                <h1>تایید شماره تلفن</h1>
                
            </div>

        </header>

        <br><br><br>

        <main>

            {% include 'components/progressbar.html' %}

            <br><br><br>

            <div class="intro">
                
                
                <form method="POST">
                    
                    {% csrf_token %}
                    
                    <h3 dir="rtl">کد تایید به شماره {{client_phone}} ارسال شد</h3>
                    <br>
                    <h4 dir="rtl">ارسال پیامک ممکن است تا پنج دقیقه به طول بیانجامد <br> در صورت ارسال نشدن <a href=""> اینجا</a> کلیک کنید تا دوباره برایتان ارسال شود</h4>
                    <br>
                    <div class="txt-center">
                        <input class="initphoneinput" placeholder="کد تایید را وارد کنید" type="number" name="two_factor_code" id="">
                        
                        <br>

                        
                        <button class="btn-submit fs-3" type="submit">ادامه</button>
                    </div>

                </form>
                
            </div>

        </main>
        
    </div>
    
</body>
</html>



