{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body dir="rtl">

    <div class="wrapper">

        <header>
            <div class="welcome txt-center">
                <h1>سامانه ثبت نام دبستان عترت 1</h1>
                
            </div>
    
            <div class="button-group">

                <a class="butt fs-1" href="#"><div class="section-button">راهنمای ثبت نام</div></a>
                <a class="butt fs-1" href="#"><div class="section-button">پشتیبانی</div></a>
                <a class="butt fs-1" href="../"><div class="section-button">بازگشت </div></a>
    
            </div>
        </header>
        <br><br><br>
        <main>
            
            
            <div class="intro txt-center">
                <h1>تایید هوویت برای : {{request.user}}</h1>
                
                
                <form method="POST">
                    {% csrf_token %}
                    {{form.melli_code}}
                    <div class="error_field"> {% for error in form.melli_code.errors %}{{error}}{% endfor %} </div>
                    
                    {{form.phone}}
                    {% for error in form.phone.errors %}{{error}}{% endfor %}
                    <div class="error_field"> {% for error in form.phone.errors %}{{error}}{% endfor %} </div>

                        


                    

                    <button class="btn-submit fs-3" type="submit">ثبت</button>

                </form>
            </div>
        </main>
    </div>
    
</body>
</html>






