{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">

        <header>
            {% include 'components/registering_process_navbar.html' %}

            <div class="welcome txt-center">
                <h1>تایید هوویت </h1>
                
            </div>
        </header>
        <br><br><br>
        <main>
            {% include 'components/progressbar.html' %}
            <br>
            <div class="intro txt-center">
                
                
                <br><br>
                <form method="POST">
                    {% csrf_token %}
                    <h3 class="form-heading">کد ملی دانش اموز را بدون فاصله وارد کنید :</h3>
                    <br>
                    {{form.melli_code}}
                    <br>
                    <div class="error_field"> {% for error in form.melli_code.errors %}{{error}}{% endfor %} </div>
                    <br><br><br>
                    <h3 class="form-heading">تلفن همراه دانش اموز را وارد کنید :</h3>
                    <br>
                    {{form.phone}}
                    <br>
                    <div class="error_field"> {% for error in form.phone.errors %}{{error}}{% endfor %} </div>

                        


                    

                    <button class="btn-submit fs-3" type="submit">ثبت</button>

                </form>
            </div>
        </main>
    </div>
    
</body>
</html>






