*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(120deg, rgb(132, 0, 255), rgb(129, 129, 228));
}
.container{

    margin: 200px, auto;
    text-align: center;
}


.initphoneinput{
    margin: 20px 50px;
    width: 80%;
    padding: 10px 50px;
    text-align: center;
}