{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">

        <header>

            {% include 'components/registering_process_navbar.html' %}

            <div class="welcome txt-center">
                <h1> اسکن مدارک </h1>
                
            </div>

        </header>

        <br><br><br>

        <main>

            {% include 'components/progressbar.html' %}

            <br><br><br>

            <div class="intro">
                
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                        
                    
                        <div class="single_upload">
                            <div class="upload-box">
                                <h4>{{form.scan_student.label}} :</h4> <br>
                                {{form.scan_student}}
                                <br><br><br>
                            </div>
                            <div class="upload-prev-img"></div>
                        </div>
                    
                        
                    
                        <div class="single_upload">
                            <div class="upload-box">
                                <h4>{{form.scan_mom.label}} :</h4> <br>
                                {{form.scan_mom}}
                                <br><br><br>
                            </div>
                            <div class="upload-prev-img"></div>
                        </div>
                    
                    
                        <div class="single_upload">
                            <div class="upload-box">
                                <h4>{{form.scan_dad.label}} :</h4> <br>
                                {{form.scan_dad}}
                                <br><br><br>
                            </div>
                            <div class="upload-prev-img"></div>
                        </div>
                    
                    
                        <div class="single_upload">
                            <div class="upload-box">
                                <h4>{{form.scan_lease.label}} :</h4> <br>
                                {{form.scan_lease}}
                                <br><br><br>
                            </div>
                            <div class="upload-prev-img"></div>
                        </div>
                    
                    
                        <div class="single_upload">
                            <div class="upload-box">
                                <h4>{{form.scan_karname.label}} :</h4> <br>
                                {{form.scan_karname}}
                                <br><br><br>
                            </div>
                            <div class="upload-prev-img"></div>
                        </div>
                        
                        

                        {% for item in form.errors %} {% for error in item.errors %} <p class="txt-red">{{error}}</p> {% endfor %} {% endfor %}
                    
                    

                    <br>
                    <div class="txt-center">
                        <button class="btn-submit fs-3" type="submit">ok</button>
                    </div>
                </form>
                
                
            </div>

        </main>
        
    </div>
    
    <script>
        let inputs = document.querySelectorAll('.file_input')
        
        inputs.forEach((e, k, p)=>{
            e.addEventListener('change', (e)=>{
                c = e.srcElement.parentElement.parentElement.children[1]
                console.log(c)
                img_url = URL.createObjectURL(e.srcElement.files[0])
                c.innerHTML = `<img src=${img_url} width="200px">`
            })
        })
    </script>
</body>
</html>



