<div class="prog-div">
    
    <div class="prog-item{% if '/signup' in request.path %} prog-item-active{% endif %}"><span>گام اول</span><span></span></div>
    <div class="prog-item{% if '/signup/validate' in request.path %} prog-item-active{% endif %}">گام دوم</div>
    <div class="prog-item{% if '/signup/validate/personal-info' in request.path %} prog-item-active{% endif %}">گام سوم</div>
    <div class="prog-item{% if '/signup/validate/personal-info/upload' in request.path %} prog-item-active{% endif %}">گام چهارم</div>
    <div class="prog-item{% if '/signup/validate/personal-info/upload/verify' in request.path %} prog-item-active{% endif %}">گام پنجم</div>

</div>