<div class="button-group">

    <a class="butt fs-1" href="#"><div class="section-button">راهنمای ثبت نام</div></a>
    <a class="butt fs-1" href="#"><div class="section-button">پشتیبانی</div></a>
    <a class="butt fs-1" href=".."><div class="section-button">بازگشت </div></a>
    <a class="butt fs-1" href="{% url 'logout_page' %}"><div class="section-button">logOut {{request.user.username}}</div></a>
    <a class="butt fs-1"><div class="section-button">{{request.user}}</div></a>
    <a class="butt fs-1"><div class="section-button">{{request.COOKIES}}</div></a>

</div>